<div class="container">
  <h1 class="text-info" align="middle">
    {{ title}}
  </h1>
  <h2 class="text-success">Welkom {{name}}</h2>
  <br>
  <h3 class="text-capitalize">{{citiesOfNetherland}}</h3>
  <ul class="list-group">
    <li class="list-group-item" *ngFor="let city of cities" (click)="showCity(city)">
<!--      {{city}}-->
      {{city.id}} - {{city.name}} {{city.province}}
    </li>
  </ul>
  <br>

  <!-- Als er een stad is aangeklikt, wordt deze waarde opgeslagen
  in currentCity. Hiervan is een foto met de betreffende naam aanwezig
  in de map /assets/img/. Er is ook CSS-stijl toegevoegd aan app.component.css -->
  <div *ngIf="currentCity">
    <img class="cityPhoto" [src]="cityPhoto" [alt]="currentCity.name" class="cityPhoto">
    <h2> Gekozen stad: {{ currentCity.name}} </h2>
  </div>

  <div>
    <input type="text" class="form-control-lg" placeholder="new city" #txtCity (keyup.enter)="changeCity(txtCity.value)"> <b>(Fill in a new city and press enter)</b>
    <br />
    <h6> New city : {{ newCity }}</h6>
    <button class="btn btn-success"*ngIf="showCreateButton" (click)="createNewCity(txtCity.value)">Create a new city</button>
  </div>



  <br>

  <input type="checkbox" (change)="toggleContactInformation()"> {{contactMsg}}

  <h5 class="text-capitalize" *ngIf="showContactAddress">Contact information : </h5>
<!--  <ul class="list-group" *ngIf="showCities">-->
  <ul class="list-group" *ngIf="showContactAddress">
    <li class="list-group-item" *ngFor="let contact of contacts">
      <!--      {{city}}-->
      {{contact.firstName}} {{contact.lastName}} -  {{contact.street}} {{contact.houseNumber}} - {{contact.zipCode}} {{contact.city}} - {{contact.country}}
    </li>
  </ul>
  <br>





  <!-- tweeRichtingBinding
      Liever twee kaar eenrichtingdatabinding dan één keer tweerichtingdatabinding
    Door ngModel geen parameters meer nodig : variabele leeft al in de controller
    <input type="text" [(ngModel)]="newCity" class="form-control-lg">
    <br>
    <button class="btn btn-success"  (click)="addCity()">Add a new city</button>
  -->

<!-- show or hide a text -->
<!--  <button class="btn btn-success" (click)="toggleText()">Toggle text</button>-->
<!--  <h2 [hidden]="textVisible" > hidden or not</h2>-->


<!--  <app-customer></app-customer>-->
</div>
