<div class="container">
  <h1 class="text-info" align="middle">
    {{ title}}
  </h1>
  <h2 class="text-success">Welkom {{name}}</h2>
  <br>
  <h3 class="text-capitalize">{{citiesOfNetherland}}</h3>
  <ul class="list-group">
    <li class="list-group-item" *ngFor="let city of cities" (click)="showCity(city)">
<!--      {{city}}-->
      {{city.id}} - {{city.name}} {{city.province}}
    </li>
  </ul>
  <br>

  <div>
    <input type="text" class="form-control-lg" placeholder="Fill in a new city here" #txtCity (keyup.enter)="changeCity(txtCity.value)"> <b>(Fill in a new city and press enter)</b>
    <br />
<!--    <button class="btn btn-success" (click)="addCity()">Add a new city</button>-->
    <h6> New city : {{ newCity }}</h6>

<!--    <input type="text" class="form-control-lg" placeholder="Nieuwe stad..." #txtCity (keyup.enter)="addCity(txtCity.value)">-->
<!--    <br />-->


    <button class="btn btn-success"*ngIf="showCreateButton" (click)="createNewCity(txtCity.value)">Create a new city</button>
<!--    <h2>{{ newCity }}</h2>-->
  </div>

  <br>

  <input type="checkbox" (change)="toggleContactInformation()"> {{contactMsg}}

  <h5 class="text-capitalize" *ngIf="showContactAddress">Contact information : </h5>
<!--  <ul class="list-group" *ngIf="showCities">-->
  <ul class="list-group" *ngIf="showContactAddress">
    <li class="list-group-item" *ngFor="let contact of contacts">
      <!--      {{city}}-->
      {{contact.firstName}} {{contact.lastName}} -  {{contact.street}} {{contact.houseNumber}} - {{contact.zipCode}} {{contact.city}} - {{contact.country}}
    </li>
  </ul>
  <br>

<!--  <app-customer></app-customer>-->
</div>
